@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Fjalla+One&family=Quicksand:wght@400;700&family=Titan+One&display=swap');

body {
    background-color: #F7B950;
    margin: 0;
}
#content {
    margin: 0 auto;
    width: 70%;
    padding: 10px;
    text-align: center;
    height: 200em;
    background-color: white;

}
#content h1 {
    font-family: 'Titan One', cursive;
    letter-spacing: .1em;
}
.joke {
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
p {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
.getJoke {
    padding: 15px 25px;
    background: transparent;
    border: none;
    background-color: #F7B950;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}